<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>#if($page_title) $page_title #else 简单自定义表单 #end</title>
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="0">
    <link rel="stylesheet" href="${request.contextPath}/css/global.css?t=${dateTool.staticDateStr}" />
    <script src="${request.contextPath}/js/jquery/jquery-1.8.2.min.js?t=${dateTool.staticDateStr}"></script>
    <script src="${request.contextPath}/js/jquery/jquery.validate.min.js?t=${dateTool.staticDateStr}"></script>
    <script src="${request.contextPath}/js/jquery.validator.ext.js?t=${dateTool.staticDateStr}"></script>
    <script src="${request.contextPath}/js/init.js?t=${dateTool.staticDateStr}"></script>
</head>
<body>
$screen_content
</body>
</html>