#set($page_title = ${def.name} + " - " + ${def.defType})
<b class="title">${def.name} - ${def.defType}</b>
<form id="j_form" action="#springUrl("/form/save.htm")" method="post">
	<input type="hidden" name="defId" value="$!{def.id}">
	## 输出hidden框
	#foreach($item in $defItems)
		#if($item.itemType = "HIDDEN")
			#set($itemBean = $result)
			#parse("/form/item/$formTool.getItemVmFileName($item)")
		#end
	#end
	<table class="form">
	#foreach($item in $defItems)
		#if($item.itemType != "HIDDEN")
		<tr>
			<th #if($foreach.count == 1)width="200"#end>
				$!item.title
			</th>
			<td>
				#set($itemBean = $result)
				#parse("/form/item/$formTool.getItemVmFileName($item)")
			</td>
		</tr>
		#end
	#end
		<tr>
			<th>
			</th>
			<td>
				#if($def.defType == "ADD" || $def.defType == "EDIT" || $def.defType == "DELETE")
				<input type="submit" value="保存">
				#end
				<input type="button" onclick="window.close()" value="关闭">
			</td>
		</tr>
	</table>
</form>
<script>
$(function(){
	J_formValidator = $("#j_form").validate({
		onclick: false,
		onkeyup : false,
		rules : {
			#set($hasRule = false)
			#foreach($item in $defItems)
				#if($hasRule) , #end
				#if($item.webChkRule)
					#set($hasRule = true)
					$item.varName : { $item.webChkRule }
				#end
			#end
		}
	});
});
</script>