#set($page_title = ${def.name} + " - " + ${def.defType})
<b class="title">${def.name} - ${def.defType}</b>
<form id="j_form" action="#springUrl("/form/save.ajax")" method="post">
	<input type="hidden" name="defId" value="$!{def.id}">
	## 输出hidden框
	#foreach($item in $defItems)
		#if($item.itemType == "HIDDEN")
			#set($itemBean = $result)
			#parse("/form/item/$formTool.getItemVmFileName($item)")
		#end
	#end
	<table class="form">
	#foreach($item in $defItems)
		#if($item.itemType != "HIDDEN")
		<tr>
			<th #if($foreach.count == 1)width="200"#end>
				$!item.title
			</th>
			<td>
				#set($itemBean = $result)
				#parse("/form/item/$formTool.getItemVmFileName($item)") #if($item.format)格式$!item.format#end	#if($item.descript)$!item.descript#end
			</td>
		</tr>
		#end
	#end
		<tr>
			<th>
			</th>
			<td>
				#if($def.defType == "ADD" || $def.defType == "EDIT" || $def.defType == "DELETE")
				<input type="submit" value="保存">
				#end
				<input type="button" onclick="window.close()" value="关闭">
			</td>
		</tr>
	</table>
</form>
<script>
$(function(){
	try {
		J_formValidator = $("#j_form").validate({
			onclick: false,
			onkeyup : false,
			rules : {
				#set($hasRule = false)
				#foreach($item in $defItems)
					#if($item.webChkRule)
						#if($hasRule) , #end
						#set($hasRule = true)
						$item.varName : { $item.webChkRule }
					#end
				#end
			},
			submitHandler: function(form){
				ajaxSubmit(form);
			}
		});
	} catch(e) {
		alert("js执行异常，"+e);
	}
});
</script>