#if($def && $def.id)
#set($page_title = "表单编辑")
<b class="title">表单编辑</b>
#else
#set($page_title = "表单新增")
<b>表单新增</b>
#end
<form id="j_form" action="#springUrl("/def/def/save.htm")" method="post">
	<input type="hidden" name="id" value="$!{def.id}">
	<input type="hidden" name="defType" value="$!{def.defType}">
	<table class="form">
		<tr>
			<th width="200">
				名称
			</th>
			<td>
				<input type="text" name="name" id="name" value="$!{def.name}">
			</td>
		</tr>
		<tr>
			<th>
				表单类型
			</th>
			<td>
				$!{def.defType}
			</td>
		</tr>
		<tr>
			<th>
				表名
			</th>
			<td>
				自动生成sql时用来获得列名，大小写敏感<br>
				<input type="text" name="tableName" id="tableName" value="$!{def.tableName}">
			</td>
		</tr>
		<tr>
			<th>
				数据源
			</th>
			<td>
				<select name="crudDsId" id="crudDsId">
					#foreach($datasource in $datasources)
						<option value="$datasource.id" #if($def.crudDsId && $def.crudDsId == $datasource.id)selected#end>$datasource.name</option>
					#end
				</select>
			</td>
		</tr>
		<tr>
			<th>
				预检查SQL
			</th>
			<td>
				执行sql前执行，返回0表示成功，其他值表示失败<br>
				<textarea name="preSql" id="preSql" rows="10" cols="80">$!{def.preSql}</textarea>
			</td>
		</tr>
		<tr>
			<th>
				查询SQL
			</th>
			<td>
				查询列表或为更新页面查询单条显示记录<br>
				<textarea name="readSql" id="readSql" rows="20" cols="80">$!{def.readSql}</textarea>
			</td>
		</tr>
		<tr>
			<th>
				更新SQL
			</th>
			<td>
				<textarea name="updateSql" id="updateSql" rows="20" cols="80">$!{def.updateSql}</textarea>
			</td>
		</tr>
		<tr>
			<th>
				是否自动匹配按钮
			</th>
			<td>
				<label><input type="radio" name="autoMatchBtn" value="1" #if($def.autoMatchBtn && $def.autoMatchBtn == 1)checked#end>是</label>
				<label><input type="radio" name="autoMatchBtn" value="0" #if($def.autoMatchBtn && $def.autoMatchBtn == 0)checked#end>否</label>
				根据相同表名的表单模板，自动显示增删改查按钮到list上
			</td>
		</tr>
		<tr>
			<th>
				是否分页
			</th>
			<td>
				<label><input type="radio" name="isPaging" value="1" #if($def.isPaging && $def.isPaging == 1)checked#end>是</label>
				<label><input type="radio" name="isPaging" value="0" #if($def.isPaging && $def.isPaging == 0)checked#end>否</label>
			</td>
		</tr>
		<tr>
			<th>
				新增按钮超链接地址
			</th>
			<td>
				<input type="text" name="addHref" id="addHref" size="100" value="$!{def.addHref}">
				如果不自动匹配，可以自定义新增按钮
			</td>
		</tr>
		<tr>
			<th>
				创建时间列名
			</th>
			<td>
				<input type="text" name="createTmCol" id="createTmCol" value="$!{def.createTmCol}">插入时放入当前时间
			</td>
		</tr>
		<tr>
			<th>
				更新时间列名
			</th>
			<td>
				<input type="text" name="updateTmCol" id="updateTmCol" value="$!{def.updateTmCol}">更新时放入当前时间
			</td>
		</tr>
		<tr>
			<th>
			</th>
			<td>
				<input type="submit" value="保存">
				<input type="button" onclick="window.close()" value="关闭">
			</td>
		</tr>
	</table>
</form>
<script>
$(function(){
	J_formValidator = $("#j_form").validate({
		onclick: false,
		onkeyup : false,
		rules : {
			name : { msg_required:{} },
			defType : { msg_required:{}},
			crudDsId : { msg_required:{}}
		}
	});
});
</script>