#set($page_title = "表单列表")
<b>表单列表</b>
#foreach($defType in $defTypes)
<a href="#springUrl("/def/def/edit.htm")?defType=${defType}" target="_blank">新增${defType}表单</a>
#end
<table class="list">
	<thead>
		<tr>
			<th>名称</th>
			<th>编码</th>
			<th>类型</th>
			<th>数据源</th>
			<th>表名</th>
			<th>表单项</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		#foreach($def in $list)
		<tr>
			<td>$!{def.name}</td>
			<td>$!{def.code}</td>
			<td>$!{def.defType}</td>
			<td>$!{def.crudDsId}</td>
			<td>$!{def.tableName}</td>
			<td>
			#if($def.defType == "LIST")
				<a href="#springUrl("/def/item/list.htm")?defId=$!{def.id}&fkType=DEF" target="_blank" >编辑条件</a>
				<a href="#springUrl("/def/item/list.htm")?defId=$!{def.id}&fkType=DEF_LIST" target="_blank" >编辑显示列</a>
			#else
				<a href="#springUrl("/def/item/list.htm")?defId=$!{def.id}&fkType=DEF" target="_blank" >编辑表单项</a>
			#end
			</td>
			<td>
				<a href="#springUrl("/def/def/edit.htm")?id=$!{def.id}" target="_blank" >编辑</a>
				<input type="button" id="del_btn_$!{def.id}" dbid="$!{def.id}" msg="$!{def.name}" value="删除">
			</td>
		</tr>
		#end
	</tbody>
</table>
<script>
$(function(){
	$("input[id^=del_btn_]").click(function(){
		if(confirm("你确定要删除表单["+$(this).attr("msg")+"]的配置吗？")){
			window.open("#springUrl("/def/def/delete.htm")?id="+$(this).attr("dbid"));
		};
	});
});
</script>