#if($def && $item.id)
#set($page_title = "表单项编辑")
<b class="title">表单项编辑</b>
#else
#set($page_title = "表单项新增")
<b>表单项新增</b>
#end
<form id="j_form" action="#springUrl("/def/item/save.htm")" method="post">
	<input type="hidden" name="id" value="$!{item.id}">
	<input type="hidden" name="crudDefId" value="$!{item.crudDefId}">
	<input type="hidden" name="fkType" value="$!{item.fkType}">
	<table class="form">
		<tr>
			<th width="200">
				标题
			</th>
			<td>
				<input type="text" name="title" id="title" value="$!{item.title}">
			</td>
		</tr>
		<tr>
			<th>
				变量名
			</th>
			<td>
				全小写,一般就是列名<br>
				<input type="text" name="varName" id="varName" value="$!{item.varName}">
			</td>
		</tr>
		<tr>
			<th>
				数据格式
			</th>
			<td>
				<input type="text" name="format" id="format" value="$!{item.format}">
				数字或日期的格式
			</td>
		</tr>
		<tr>
			<th>
				js校验规则
			</th>
			<td>
				jquery-validator的rules,规则名:{参数名:参数值}，比如msg_required:{},msg_minlength:{minlength:5}<br>
				可用规则为：<br>
				msg_required:{}<br>
				msg_minlength:{minlength:长度}<br>
				msg_maxlength:{maxlength:长度}<br>
				msg_rangelength:{minlength:长度,maxlength:长度}<br>
				msg_min:{min:值}<br>
				msg_max:{max:值}<br>
				msg_range:{min:值,max:值}<br>
				msg_digits:{}<br>
				msg_mobile:{}<br>
				msg_email:{}<br>
				msg_idcard:{}<br>
				msg_equalTo:{target:jquery筛选表达式}<br>
				msg_regex:{regex:正则表达式(非字符串)}<br>
				msg_depend:{depend:jquery筛选表达式}<br>
				<textarea name="webChkRule" id="webChkRule" rows="10" cols="40">$!{item.webChkRule}</textarea>
			</td>
		</tr>
		<tr>
			<th>
				表单项类型
			</th>
			<td>
				<select name="itemType" id="itemType">
					#foreach($itemType in $itemTypes)
						<option value="$itemType.name()" #if($item.itemType && $item.itemType == $itemType.name())selected#end>$itemType.name()</option>
					#end
				</select>
			</td>
		</tr>
		<tr>
			<th>
				输入项类型
			</th>
			<td>
				<select name="inputType" id="inputType">
					<option value=""></option>
					#foreach($inputType in $inputTypes)
						<option value="$inputType.name()" #if($item.inputType && $item.inputType == $inputType.name())selected#end>$inputType.name()</option>
					#end
				</select>
			</td>
		</tr>
		<tr>
			<th>
				输入项大小
			</th>
			<td>
				<input type="text" name="inputSize" id="inputSize" value="$!{item.inputSize}">输入框的size，Textarea的rows,cols
			</td>
		</tr>
		<tr>
			<th>
				选项类型
			</th>
			<td>
				<select name="optionType" id="optionType">
					<option value=""></option>
					#foreach($optionType in $optionTypes)
						<option value="$optionType.name()" #if($item.optionType && $item.optionType == $optionType.name())selected#end>$optionType.name()</option>
					#end
				</select>
			</td>
		</tr>
		<tr>
			<th>
				选项值
			</th>
			<td>
				静态类型就是value,value或key:value,key:value<br>
				sql类型就是sql语句，返回KEY和VALUE列<br>
				<textarea name="optionValue" id="optionValue" rows="20" cols="80">$!{item.optionValue}</textarea>
			</td>
		</tr>
		<tr>
			<th>
				数据源
			</th>
			<td>
				<select name="crudDsId" id="crudDsId">
					<option value=""></option>
					#foreach($datasource in $datasources)
						<option value="$datasource.id" #if($item.crudDsId && $item.crudDsId == $datasource.id)selected#end>$datasource.name</option>
					#end
				</select>
			</td>
		</tr>
		<tr>
			<th>
				动作按钮类型
			</th>
			<td>
				<select name="actionType" id="actionType">
					<option value=""></option>
					#foreach($actionType in $actionTypes)
						<option value="$actionType.name()" #if($item.actionType && $item.actionType == $actionType.name())selected#end>$actionType.name()</option>
					#end
				</select>
			</td>
		</tr>
		<tr>
			<th>
				超链接
			</th>
			<td>
				<input type="text" name="href" id="href" size="80" value="$!{item.href}">
			</td>
		</tr>
		<tr>
			<th>
				排序号
			</th>
			<td>
				<input type="text" name="itemOrder" id="itemOrder" value="$!{item.itemOrder}">
			</td>
		</tr>
		<tr>
			<th>
				描述
			</th>
			<td>
				会显示在输入框后面<br>
				<textarea name="descript" id="descript" rows="10" cols="80">$!{item.descript}</textarea>
			</td>
		</tr>
		<tr>
			<th>
			</th>
			<td>
				<input type="submit" value="保存">
				<input type="button" onclick="window.close()" value="关闭">
			</td>
		</tr>
	</table>
</form>
<script>
$(function(){
	$.validator.addMethod("msg_jsformat", function(value, element, param) {
		if (this.optional(element)) {
			return true;
		}
		try{
			eval("{"+value+"}");
			return true;
		}catch(e){
			return false;
		};
	}, '格式不正确');
	J_formValidator = $("#j_form").validate({
		onclick: false,
		onkeyup : false,
		rules : {
			title : { msg_required:{} },
			itemType : { msg_required:{} },
			webChkRule : { msg_jsformat:{}},
			itemOrder : { msg_required:{},msg_digits:{}}
		}
	});
});
</script>