#set($page_title = ${def.name} + " - " + ${def.defType})
<b class="title">${def.name}[${def.id}] - ${def.defType} - $!{duration}</b>
<form id="j_form_${def.id}" action="#springUrl("/form/show.htm")" method="get">
	<input type="hidden" name="defId" value="$!{def.id}">
	## 输出hidden框
	#foreach($item in $defWheres)
		#if($item.itemType == "HIDDEN")
			#set($itemBean = $params)
			#parse("/form/item/$formTool.getItemVmFileName($item)")
		#end
	#end
	<table class="form">
		<tr>
			<th width="200" >
				当前环境：
			</th>
			<td>
				<input type="text" name="envCode" id="envCode" value="$!envCode">
			</td>
		</tr>	
	#foreach($item in $defWheres)
		#if($item.itemType != "HIDDEN")
		<tr>
			<th #if($foreach.count == 1)width="200"#end>
				$!item.title
			</th>
			<td>
				#set($itemBean = $params)
				#parse("/form/item/$formTool.getItemVmFileName($item)")
				#if($item.itemType == "INPUT") #if($item.format)格式$!item.format#end	#if($item.descript)$!item.descript#end #end
			</td>
		</tr>
		#end
	#end
		<tr>
			<th>
			</th>
			<td>
				<input type="submit" value="查询">
				<input type="button" value="清空" onclick="$('#j_form_${def.id} input[type=text][name!=envCode]').val('');">
				#if($def.addHref)
				<a href="$!formTool.randerExpr(${def.addHref},$params,$request)" target="_blank">新增</a>
				#elseif($defAdd)
				<a href="${request.contextPath}/form/show.htm?defId=${defAdd.id}" target="_blank">${defAdd.name}</a>
				#end
			</td>
		</tr>
	</table>
</form>
$!{noescape_composite_content}
<script>
$(function(){
	try {
		J_formValidator = $("#j_form_${def.id}").validate({
			onclick: false,
			onkeyup : false,
			rules : {
				#set($hasRule = false)
				#foreach($item in $defItems)
					#if($item.webChkRule)
						#if($hasRule) , #end
						#set($hasRule = true)
						$item.varName : { $item.webChkRule }
					#end
				#end
			}
		});
	} catch(e) {
		alert("js执行异常，"+e);
	}
});
</script>