#set($page_title = ${listTitle} + "列表-" + ${def.name})
<b class="title">${listTitle}列表-${def.name}</b>
<a href="#springUrl("/def/item/edit.htm")?defId=$!{defId}&fkType=$!{fkType}" target="_blank">新增</a>
<a href="#springUrl("/def/def/auto-create-item.htm")?id=$!{defId}&fkType=$!{fkType}" target="_blank">根据表名自动生成</a>
<a href="#springUrl("/def/def/copy-item-index.htm")?id=$!{defId}&fkType=$!{fkType}" target="_blank">复制表单项</a>
<a href="#springUrl("/def/item/match-form.htm")?defId=$!{defId}&fkType=$!{fkType}&defType=VIEW" target="_blank">匹配VIEW</a>
<table class="list">
	<thead>
		<tr>
			<th style="width:300px">标题</th>
			<th style="width:200px">变量名</th>
			<th style="width:100px">表单项类型</th>
			<th style="width:100px">输入类型</th>
			<th style="width:100px">动作类型</th>
			<th style="width:100px">顺序</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		#foreach($item in $list)
		<tr #if($item.deleted == 1)class="deleted"#end>
			<td>#if($item.deleted == 0)<input id="tit_$!{item.id}" type="text" value="$!{item.title}" size="30" autocomplete="off"><input type="button" id="tit_btn_$!{item.id}" dbid="$!{item.id}" value="设置">#else$!{item.title}#end</td>
			<td>$!{item.varName}</td>
			<td>$!{item.itemType}</td>
			<td>$!{item.inputType}</td>
			<td>$!{item.actionType}</td>
			<td>#if($item.deleted == 0)<input id="ord_$!{item.id}" type="text" value="$!{item.itemOrder}" size="1" autocomplete="off"><input type="button" id="ord_btn_$!{item.id}" dbid="$!{item.id}" value="设置">#else$!{item.itemOrder}#end</td>
			<td>
				<a href="#springUrl("/def/item/edit.htm")?id=$!{item.id}" target="_blank" >编辑</a>
				#if($item.deleted == 0)
				<input type="button" id="del_btn_$!{item.id}" dbid="$!{item.id}" msg="$!{item.title}" value="删除">
				#else
				<input type="button" id="res_btn_$!{item.id}" dbid="$!{item.id}" msg="$!{item.title}" value="恢复">
				#end
			</td>
		</tr>
		#end
	</tbody>
</table>
<script>
$(function(){
	$("input[id^=tit_btn_]").click(function(){
		window.open("#springUrl("/def/item/setTitle.htm")?id="+$(this).attr("dbid")+"&title="+encodeURIComponent($("#tit_"+$(this).attr("dbid")).val()));
	});
	$("input[id^=ord_btn_]").click(function(){
		window.open("#springUrl("/def/item/setOrder.htm")?id="+$(this).attr("dbid")+"&itemOrder="+$("#ord_"+$(this).attr("dbid")).val());
	});
	$("input[id^=del_btn_]").click(function(){
		if(confirm("你确定要删除表单项["+$(this).attr("msg")+"]的配置吗？")){
			window.open("#springUrl("/def/item/delete.htm")?id="+$(this).attr("dbid"));
		};
	});
	$("input[id^=res_btn_]").click(function(){
		if(confirm("你确定要恢复表单项["+$(this).attr("msg")+"]的配置吗？")){
			window.open("#springUrl("/def/item/restore.htm")?id="+$(this).attr("dbid"));
		};
	});
});
</script>